/* Header Styles */
header {
    background-color: #dad0d0;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo Styles */
  .logo-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #333333;
  }
  
  .logo-link svg {
    fill: currentColor;
  }
  
  /* Navbar Styles */
  .navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .button-link {
    text-decoration: none;
  }
  
  .nav-button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: rgb(114, 67, 67);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add transition effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .nav-button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
  }
  
  /* User Widget Styles */
  .user-widget {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    color: #333333;
  }
  
  .user-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .user-badge {
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    border: 2px solid #4CAF50;
    overflow: hidden;
  }
  
  .user-badge svg {
    fill: currentColor;
  }
  
  .user-name {
    margin-left: 0.5rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .nav-button {
      margin-top: 0.5rem;
    }
  
    .user-widget {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  